{% block menu %}
    <form name="search" action="/search">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input
                    class="input"
                    type="text"
                    placeholder="Find a recipe"
                    name="query"
                    required
                    value="{{ uri.query('query') }}"
                >
            </div>
            <div class="control">
                <button type="submit" class="button is-info">Search</button>
            </div>
        </div>
    </form>
    <hr>
    <aside class="menu">
        <p class="menu-label">Browse Categories</p>
        <ul class="menu-list is-flex-mobile is-flex-wrap-wrap">
            <li><a href="/">All Recipes</a></li>
            {% for c in taxonomy.getTaxonomyItemKeys('category')|sort %}
                <li><a href="/category:{{c}}">{{ c|title }}</a></li>
            {% endfor %}
        </ul>
        <p class="menu-label">Browse Tags</p>
        <div>
            {% for t in taxonomy.getTaxonomyItemKeys('tag')|sort %}
                <span class="tag mt-1"><a href="/tag:{{t}}">{{ t|title }}</a></span>
            {% endfor %}
        </div>
    </aside>
    <hr>
{% endblock %}
